/* Estilos gerais */
.App-header {
  background-color: #151516f8;
  padding: 22px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.App-header div {
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.links-menu {
  padding: 0.8em;
  margin-right: 2em;
  color: white;
  text-decoration: none;
  font-size: small;
}

.links-menu:hover {
  background-color: rgb(139, 137, 137);
  border-radius: 10px;
}

.links-menu-div button {
  background-color: gray;
  color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 8px;
  margin-right: 4em;
  margin-left: 1em;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.App-header img {
  width: 12em;
}

/* Botão de menu (hamburger) */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .links-menu-div {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #151516f8;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Mostrar botão de menu (hamburger) */
  .menu-button {
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
  }

  /* Ajustar o tamanho do logo em telas menores */
  .App-header img {
    margin-left: 1em;
    width: 8em;
  }
}

/* Estilos para telas maiores */
@media (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .links-menu-div {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
  }
}
