.produto {
    background-image: url('../../images/fundo_preto.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 5em;
    text-align: center;
}

.produto h1 {
    padding-bottom: 1em;
    letter-spacing: 0.5em;
    font-size: 2em;
    font-weight: 500;
}

.produto h3 {
    padding-bottom: 2em;
}

.produto-quadro-one, .produto-quadro {
    padding: 4em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-quadro-one h1, .produto-quadro h1 {
    color: #fff;
    font-size: 2em;
    padding-bottom: 0.5em;
    text-align: center;
}

.produto-quadro-one img, .produto-quadro img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 1em;
    margin-top: 1em;
}

.produto-conteudo-one, .produto-conteudo {
    color: #ffffff;
    font-size: 1em;
    text-align: justify;
    padding-right: 1.5em;
    max-width: 800px;
}

.produto-conteudo-one p, .produto-conteudo p {
    color: #ffffff;
    font-size: 1em;
    text-align: justify;
}

.produto-quadro-one {
    background-image: url('../../images/fundo_grad_top.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto-quadro {
    background-image: url('../../images/fundo_preto.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto-quadro-passo-a-passo {
    background-image: url('../../images/fundo_grad_top.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em;
}

.produto-conteudo-passo-a-passo h1 {
    color: #fff;
    padding: 2em;
    text-align: center;
}

.produto-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.produto-img-passo-a-passo img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.produto-texto-passo-a-passo {
    padding: 1em;
    text-align: center;
}

.produto-texto-passo-a-passo p, h4 {
    color: #fff;
    padding: 0.5em;
}

.produto-texto-passo-a-passo p {
    font-size: 1em;
}

/* Estilos responsivos para telas menores */
@media (max-width: 1024px) {
    .produto-quadro-one, .produto-quadro {
        padding: 2em;
    }

    .produto-conteudo-one, .produto-conteudo {
        width: 100%;
    }

    .produto-quadro-one img, .produto-quadro img {
        width: 90%;
    }

    .produto-conteudo-passo-a-passo h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .produto {
        padding-top: 3em;
    }

    .produto h1 {
        font-size: 1.5em;
        letter-spacing: 0.5em;
        font-weight: 500;
    }

    .produto h3 {
        font-size: 1em;
        padding-bottom: 1.5em;
        font-weight: 500;
    }

    .produto-quadro-one, .produto-quadro {
        flex-direction: column;
        padding: 2em;
    }

    .produto-conteudo-one, .produto-conteudo {
        width: 100%;
        padding: 0 1em;
    }

    .produto-quadro-one img, .produto-quadro img {
        width: 100%;
        max-width: 400px;
    }
    .produto img{
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .produto h1 {
        font-size: 1.2em;
    }

    .produto h3 {
        font-size: 0.9em;
    }

    .produto-quadro-one, .produto-quadro {
        padding: 1em;
    }

    .produto-conteudo-one p, .produto-conteudo p {
        font-size: 0.8em;
    }

    .produto-quadro-one img, .produto-quadro img {
        width: 100%;
    }
    .produto img{
        width: 100%;
    }

    .produto-texto-passo-a-passo p {
        font-size: 0.8em;
    }
}
